junit.ConsumerCase.baseDir=${example-xml.build.dir}/consumers
junit.ServiceCase.baseDir=${example-xml.build.dir}/services
junit.ProducerCase.baseDir=${example-xml.build.dir}/producers
junit.SampleConfigCase.baseDir=${example-xml.build.dir}

junit.JmsConsumerExamples.baseDir=${basedir}/build/example-xml/consumers/jms
junit.JmsProducerExamples.baseDir=${basedir}/build/example-xml/producers/jms

junit.TibrvProducerExamples.baseDir=${junit.ConsumerCase.baseDir}/tibco
junit.TibrvConsumerExamples.baseDir=${junit.ProducerCase.baseDir}/tibco